{% extends 'base.html' %}

{% block content %}
<form method="post" class="single-question">
  <div class="question-header">
    <p class="instructions">
      <i
        >For the following question, please select the choice that best fits
        your experience.
      </i>
    </p>
    <h3 class="question-title">Do you experience frequent viral infections with prolonged
      recovery periods?
    </h3>
  </div>
  <div class="single-question-container">
    <fieldset>
      <ol class="radio-button-list">
        <li>
          <input type="radio" id="f0" name="viral" value="0" />
          <label for="f0">No</label>
        </li>
        <li>
          <input type="radio" id="f1" name="viral" value="1" />
          <label for="f1">Yes</label>
        </li>
      </ol>
    </fieldset>
  </div>
  <div class="question-navigation">
    <button onClick="javascript:window.location.href='{{previous_page(request.path)}}'" class="back-button" type="button">Back</button>
    <button class="next-question-button disabled" type="submit" name="result" value="result">Next</button> 
  </div>
</form>

<div class="container">
  <p class="typed"><i>{{ message }} </i></p>
</div>

<div class="meter">
  <span id="meter3span" style="--start: 0%; width: 1%"></span>
</div>
{% endblock %}