/* style for landing page and form preview bubbles */

h2.landing-page {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Proxima-Nova-Condensed;
  letter-spacing: .03rem;
}

div.form-preview {
  padding-top: 10px;
  left: 10px;
  text-align:center;
  font-style: italic;
  font-weight: bold;
  cursor: default;
}

div#begin-screener-grid {
  display: grid;
  row-gap: 10px;
}

.button-home {
  bottom: 0px;
  border-width: 1px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  transition: background-color .3s;
}

.button-home:hover {
  background-color: #F3CFC6;
}

.button-home:active {
  background-color: #fc8263;
}

.disclaimer {
  text-align: center;
  padding: 0 0 2em 0;
}

.screener-description {
  font-size: 18px;
  text-align: center;
}

/* styling for form preview bubbles */
.form-preview-container {
  height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: middle;
  width: 240px;
  margin-top: auto;
  overflow: hidden;
  z-index: 1;
}


.form-preview-container:hover {
  height:auto;
  margin-top: auto;
  vertical-align: top;
  margin-bottom: -160px;
}

.form-preview-list {
  width: 75%;
  cursor: default;
}

#stageone {
  background-color: #F3CFC6;
  z-index: 999;
}

#stagetwo {
  background-color: #C2EFEB;
  z-index: 998;
}

#stagethree {
  background-color: #ED7E63;
  z-index: 997;
}

.arrow {
  font-size: 20px;
}

#hidden {
  visibility: hidden;
}

.strikethrough {
  text-decoration: line-through;
}

.hero-landing {
  position: absolute;
  bottom: 0px;
  z-index: -1;
  opacity: 20%;
}

#hero-right {
  right: 0px;
  height: 50vh;
  width: 30vw;
}

#hero-left {
  left: 24vw;
  height: 50vh;
  width: 15vw;
}

@media only screen and (min-device-width: 661px) {
  .form-preview-wrapper{
    margin: 0 50px 0 50px;
  }
}

@media only screen and (min-device-width: 787px) {
  .form-preview-wrapper{
    margin: 0 154px 0 155px;
  }

}

@media only screen and (max-device-width: 975px) {
  .screener-description > p {
    margin: 5% 10% 0 10%
  }
}
