.diagnostic-message {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #F3CFC6;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 1.1em;
}

.diagnostic-message.screener {
  font-weight: 400;
}

.continue-message {
  text-align: center;
  background-color: #bfffb7;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 10px auto 20px;
  padding: 5px 5px 5px 5px;
  font-size: 1.1em;
}

.red {
  background-color: #F3CFC6;
}

.case-results {
  background: white;
  width: 55%;
  margin: 20px auto 20px auto;
  border: thin #c0c0c0 solid;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.case-results-title {
  margin: 5px 0 5px 0;
  text-align: center;
}

.case-results-diagnosis {
  text-align: left;
  border: 1px solid black;
  border-bottom: 0;
  /* font-weight: bold; */
  background-color: #F3CFC6;
  padding: 10px 0 10px 0;
}

.case-results-symptom-header {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px;
  text-align: left;
  font-weight: bold;
  display: none;
}

.case-results p {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.case-results button {
  text-align: center;
  display: inline-block;
}

.left-column {
  flex: 1;
}

.right-column {
  text-align: left;
  flex: 1;
}

.chart-left {
  z-index: -1;
  width: 50%;
  height: 500px;
  border: thin #c0c0c0 solid;
  display: inline-block;
  float: left;
  margin-top: 50px;
}

.result-navigation {
  display: grid;
  justify-items: center;
  justify-content: center;
  max-width: 100vw;
}

.result-navigation .back-button {
  grid-column: 1 / 2;
  grid-row: 1;
  margin: 0 10px 20px 0;
  padding-left: 43px;
  padding-right: 43px;
}

.result-navigation .continue-button {
  grid-column: 2 / 3;
  grid-row: 1;
  margin: 0 0 20px 10px;
}

.result-navigation .print-button {
  grid-row: 2;
  grid-column: 1/3;
  padding: 10px;
  font-size: 1em;
}

.symptom-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  border-bottom: 1px solid black;
}

.symptom-list.closed {
  display: none;
}

.symptom-expand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 5px 0;
  cursor: default;
  font-weight: bold;
  transition: background-color .3s;
  background-color: #C2EFEB;
}

.symptom-expand-button:hover {
  background-color: #ED7E63;
}

.symptom-expand-button.closed{
  border-top: 1px solid black;
}

.symptom-col-1 {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  /* so symptom connecting elements can be positioned in between correctly */
  position: relative;
}

.symptom-col-2 {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.symptom-col-2#top-of-either {
  border: 2px solid black;
  border-bottom: 0;
}

.symptom-col-2#bottom-of-either {
  border: 2px solid black;
  border-top: 1px dashed black;
  border-bottom: 1px solid black;
}

.symptom-col-2#top-of-3-symptom {
  border: 2px solid black;
  border-bottom: 1px dashed black;
}

.symptom-col-2#middle-of-3-symptom {
  border-left: 2px solid black;
  border-top: 0;
  border-right: 2px solid black;
}

.symptom-col-2#bottom-of-3-symptom {
  border: 2px solid black;
  border-top: 1px dashed black;
  border-bottom: 1px solid black;
}

.symptom-col-2#top-of-4-symptom {
  border: 2px solid black;
  border-bottom: 0;
}

.symptom-col-2#middle-of-4-symptom {
  border-top: 1px dashed black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.symptom-col-2#bottom-of-4-symptom {
  border: 2px solid black;
  border-top: 1px dashed black;
  border-bottom: 0;
}

.symptom-col-2#top-of-5-symptom {
  border: 2px solid black;
  border-bottom: 0;
  border-top: 2px solid black;
}

.symptom-col-2#middle-of-5-symptom {
  border-top: 1px dashed black;
  border-right: 2px solid black;
  border-bottom: 0;
  border-left: 2px solid black;
}

.symptom-col-2#bottom-of-5-symptom {
  border: 2px solid black;
  border-top: 1px dashed black;
  border-bottom: 0;
}

.symptom-col-2.assessment {
  background-color: #F3CFC6;
  border-top: 2px solid black;
}

.symptom-logic-connector {
  position: absolute;
  top: -.7em;
  right: 0;
  background-color: white;
  display: inline-block;
  z-index: 1000;
  font-weight: bold;
  border: 1px solid black;
  border-right: 0;
  font-size: .9em;
}

.three-symptom-connector {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
}

.three-symptom-connector#top {
  top: -17px;
  z-index: 999;
  border-bottom: 0;
  border-right: 0;
}

.three-symptom-connector#middle{
  align-items: center;
  display: flex;
  font-size: .9em;
  z-index: 1000;
  border: 0;
  border-left: 1px solid black;
}

.three-symptom-connector#bottom {
  bottom: -17px;
  border-right: 0;
  z-index: 999;
  height: auto;
}

.four-symptom-connector {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
}

.four-symptom-connector#top {
  top: -16px;
  z-index: 1000;
  border-bottom: 0;
  border-right: 0;
}

.four-symptom-connector#middle{
  align-items: center;
  display: flex;
  padding-left: 3px;
  font-size: .9em;
  z-index: 999;
  border-right: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
  top: .85em;
}

.four-symptom-connector#bottom {
  bottom: -43px;
  z-index: 1000;
  border-right: 0;
  border-bottom: 0;
  transform: scaleY(-1);
}

.four-symptom-connector#middle-right-top {
  border:  0;
  height: auto;
  top: -4px;
  background-color: rgba(0,0,0,0);
}

.four-symptom-connector#middle-right-bottom {
  border: 0;
  height: auto;
  top: 14px;
  width: 15.5px;
}

.five-symptom-connector {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
}

.five-symptom-connector#top {
  top: -39px;
  z-index: 999;
  border-bottom: 0;
  border-right: 0;
}

.five-symptom-connector#middle{
  align-items: center;
  display: flex;
  padding-left: 3px;
  font-size: .9em;
  z-index: 999;
  border-right: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.five-symptom-connector#bottom {
  bottom: -40px;
  z-index: 998;
  border-right: 0;
  border-bottom: 0;
  transform: scaleY(-1);
}

.five-symptom-connector#middle-right-top {
  border:  0;
  height: auto;
  top: -17.5px;
  /* background-color: rgba(0,0,0,0); */
  z-index: 1001;
  border-left: 1px solid black;
  width: 16px;
}

.five-symptom-connector#middle-right-bottom {
  border: 0;
  height: auto;
  top: 28.1px;
  z-index: 1001;
  /* background-color: rgba(0,0,0,0); */
  border-left: 1px solid black;
  width: 16px;
}

@media screen and (max-width: 1280px) {
  .chart-center.screener {
    zoom: .80;
  }
}

@media screen and (max-width: 1024px) {
  .case-results {
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
  .case-results {
    width: 90%;
  }

  .chart-center {
    zoom: .45;
    width: 90%;
  }
  
  .result-navigation .back-button {
    padding: 30px;
  }

  .result-navigation .continue-button {
    padding: 25px;
  }
}

@media screen and (max-width: 390px) {
  .three-symptom-connector#middle {
    font-size: 10px
  }
}
