.diagnostic-message {
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #F3CFC6;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.print-button {
  display: block;
  margin-top: 25px;
}

.case-results {
  background: white;
  width: 55%;
  margin: 20px auto 20px auto;
  border: thin #c0c0c0 solid;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.case-results-title {
  margin: 5px 0 5px 0;
}

.case-results-diagnosis {
  text-align: left;
  border: 1px solid black;
  font-weight: bold;
  background-color: #F3CFC6;
  padding: 10px 0 10px 0;
}

.case-results-symptom-header {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px;
  text-align: left;
  font-weight: bold;
  display: none;
}

.case-results p {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.case-results button {
  text-align: center;
  display: inline-block;
}

.left-column {
  flex: 1;
}

.right-column {
  text-align: left;
  flex: 1;
}

.chart-left {
  z-index: -1;
  width: 50%;
  height: 500px;
  border: thin #c0c0c0 solid;
  display: inline-block;
  float: left;
  margin-top: 50px;
}

.symptom-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  border-bottom: 1px solid black;
}

.symptom-list.closed {
  display: none;
}

.symptom-expand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 5px 0;
  cursor: default;
  font-weight: bold;
  transition: background-color .3s;
  background-color: #C2EFEB;
}

.symptom-expand-button:hover {
  background-color: #ED7E63;
}

.symptom-col-1 {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  /* so symptom connecting elements can be positioned in between correctly */
  position: relative;
}

.symptom-col-2 {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.symptom-logic-connector {
  position: absolute;
  top: -.6em;
  right: 0;
  background-color: white;
  display: inline-block;
  z-index: 1000;
  border: 1px solid black;
  border-right: 0;
  font-size: .9em;
}

.two-buttons {
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.two-buttons button {
  margin: 10px 10px 0 0;
}

@media screen and (max-width: 1024px) {
  .case-results {
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
  .case-results {
    width: 90%;
  }

  .chart-center {
    zoom: .45;
    width: 90%;
  }
}

