{% extends 'base.html' %}

{% block title %}
<title>About ME/CFS</title>
{% endblock %}

{% block content %}

{% include "partials/_top_nav_bar.html" %}

<h3>About ME/CFS</h3>

<p>
  Myalgic Encephalomyelitis/Chronic Fatigue Syndrome (ME/CFS) is a long-lasting
  disease that affects the body's immune, neurological, and physical systems,
  causing a range of symptoms. The illness is usually triggered by a viral or
  flu-like infection. ME affects many different systems in the body, including
  the central nervous system, immune system, digestive system, and
  cardiovascular system.
</p>
<p>
  Learn more about ME/CFS at the DePaul University Center for Community Research
  website for ME/CFS:
  <a
    href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/media-links.aspx"
    target="_blank"
    >ME/CFS Links</a
  >
</p>
{% endblock %}
