{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
{% include "partials/_top_nav_bar.html" %}

<h3>About This Screener</h3>

<p>
  This screener is based on the DePaul Symptom Questionnaire, a validated
  instrument meant to assess ME/CFS symptomatology. It is broken up into 3 stages and prompts the user to continue if their responses meet the threshold scores for the case definitions of ME/CFS. </p><br /><br />

  {% include "partials/_form_previews.html" %}

<p>
  This online screener was developed by Sage Benner and Paul Cathey at DePaul's
  Center for Community Research. To report technical issues or to provide
  design-related feedback, contact Paul at pmcathey AT gmail.com.
</p>

{% endblock %}
