{# boilerplate base template to be included in all templates #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KTVW5WD');
    </script>
    <!-- End Google Tag Manager -->

    {% block title %}
    <title>ME/CFS Online Screener</title>
    {% endblock %}

    <meta
      name="description"
      content="A self-guided assessment for ME/CFS (myalgic encephalomyelitis / chronic fatigue syndrome)."
    />
    <meta
      name="author"
      content="The Center for Community Research - Depaul University"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/main.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/landing.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/fonts.css') }}"
    />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTVW5WD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block content %}
    {% endblock %}
  </body>
</html>
