{% extends 'base.html' %}

{% block title %}
<title>ME/CFS Online Screener</title>
{% endblock %}

{% block content %}
{% include "partials/_top_nav_bar.html" %}

<img class="hero-landing" id="hero-left" alt="person resting head, fatigued" src="../static/img/landing_page_background2.png" width="191px" height="445px">
<img class="hero-landing" id="hero-right" alt="person resting head, fatigued" src="../static/img/landing_page_background.png" width="435px" height="445px">

<h2 class="landing-page">
  Do you have ME/CFS?
</h2>
<hr />
<br />
<div id="begin-screener-grid">

  <div class="screener-description">
    Fill out this brief screener to find out if you have typical symptoms of Myalgic-Encephalomyelitis/Chronic Fatigue Syndrome (ME/CFS).
  </div><br>

  <form method="post" id="begin-screener">
    <div class="container">
      <button class="button-home" type="submit" name="result" value="result">
        Begin screener
      </button>
    </div>
  </form>

  <p class="disclaimer">Disclaimer: This screener is not meant to provide medical diagnoses. Please consult with your physician if you believe you may be suffering from ME/CFS.</p>

</div>
{% endblock %}
