{% extends 'base.html' %}

{% block title %}
<title>ME/CFS Online Screener</title>
{% endblock %}

{% block content %}
{% include "partials/_top_nav_bar.html" %}

<img class="hero-landing" id="hero-left" alt="person resting head, fatigued" src="../static/img/landing_page_background2.png" width="191px" height="445px">
<img class="hero-landing" id="hero-right" alt="person resting head, fatigued" src="../static/img/landing_page_background.png" width="435px" height="445px">

<h2 class="landing-page">
  Do you have ME/CFS?
</h2>
<hr />
<br />
<div id="begin-screener-grid">

  {% set stage=0 %}
  {% include "partials/_form_previews.html" %}
  
  <div class="screener-description">
      This online screener is based on the DePaul Symptom Questionnaire (DSQ), a validated instrument for assessing
        ME/CFS symptoms. <br> <br> You'll be asked 4 questions which will indicate whether you may have ME/CFS. You may
        continue to the more in-depth questionnaires for more a more accurate assessment.
        For more information, follow one of the links above in the about menu.<br>
  </div><br>

  <form method="post" id="begin-screener">
    <div class="container">
      <button class="button-home" type="submit" name="result" value="result">
        Begin screener
      </button>
    </div>
  </form>

  <p class="disclaimer">Disclaimer: This screener is not meant to provide medical diagnoses. Please consult with your physician if you believe you may be suffering from ME/CFS.</p>

</div>
{% endblock %}
