{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<header>
  <ul class="menu">

    <li >
    <a href="{{ url_for('screener_views.home') }}">Home</a>
     </li>

        <li class="hamburger" >

            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="navbar-links">
            <li >
                <a href="{{ url_for('screener_views.home') }}">Home</a>
                </li>
           <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
            <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
        </ul></li>
  <li>
   <a href="{{ url_for('aboutmecfs')}}">About</a><ul class="submenu2">
      <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
      <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
    </ul>
  </li>


 </ul>
</header>
<h2 class="landing-page">
  Myalgic Encephalomyelitis Chronic Fatigue Syndrome ME/CFS Screener
</h2>
<hr />
<br />
<div class="div">

  {% include "partials/_form_previews.html" %}

  <div style="font-family: 'Arial', Helvetica, sans-serif;">
    <p>This online screener is based on the DePaul Symptom Questionnaire (DSQ), a validated instrument for assessing
      ME/CFS symptoms. <br> <br> You'll be asked 4 questions which will indicate whether you have ME/CFS. You may
      continue to the more in-depth questionnaires for more a more accurate assessment.
      For more information, follow one of the links above in the about menu.</p><br>
  </div>

  <form method="post">
    <div class="container">
      <button class="button-home" type="submit" name="result" value="result">
        Begin screener
      </button>
    </div>
  </form>

  <p>Disclaimer: This screener is not meant to provide medical diagnoses. Please consult with your physician for diagnostic concerns.</p>

</div>

<script>
const hamburger = document.querySelector('.hamburger');
const navbarLinks = document.querySelector('.navbar-links');

hamburger.addEventListener('click', () => {
  hamburger.classList.toggle('show-navbar-links');
  hamburger.classList.toggle('change');
});
</script>

{% endblock %}
