<div class="container">
  <div id="stageone" class="layout-one">
    <div class="form-preview">Screener (4 questions)</div>
    <ul>
      <li>DSQ-Screener</li>
      <li>4 Questions</li>
      <li>Prompts you to continue to next step based on your scores</li>
    </ul>
  </div>
  <span class="arrow "></span>
  <div id="stagetwo" class="layout-one">
    <div class="form-preview">Short Form (11 questions)</div>
    <ul>
      <li>DSQ-SF</li>
      <li>11 additional questions for increased accuracy</li>
      <li>Assesses two case definitions</li>
    </ul>
  </div>
  <span class="arrow "></span>
  <div id="stagethree" class="layout-one">
    <div class="form-preview">Full Form (41 questions)</div>
    <ul>
      <li>DSQ</li>
      <li>41 additional questions for highest accuracy</li>
      <li>Reassesses case definitions</li>
    </ul>
  </div>
</div><br>